paper/*.pdf
paper/*.log
paper/*.aux*
paper/*-blx.bib
paper/*.bbl
paper/*.blg
paper/*.d
paper/*.fls
paper/*.run.xml
simulations/*.hi
simulations/*.o
simulations/.hsenv_*
simulations/simulation_theoretical
simulations/simulation_empirical
*.pdf
*.aux*
*.out*
*.toc*
*.nav*
*.log
*.bbl
*.blg
*.d
*.fls
*.ist
*.acr
*.acn
*.alg
*.snm